!!! 5
%html{ lang: I18n.locale, class: page_class }
  = render "layouts/head"
  %body{ class: "#{user_application_theme} #{@body_class} fullscreen-layout", data: { page: body_data_page } }
    = render 'peek/bar'
    = header_message
    = render "layouts/header/default"
    = render 'shared/outdated_browser'
    .mobile-overlay
    .alert-wrapper
      = render "layouts/broadcast"
      = yield :flash_message
      = render "layouts/flash"
    .content-wrapper{ id: "content-body", class: "d-flex flex-column align-items-stretch" }
      = yield
    = footer_message
